:root {
  --gray: #9A9A9A;
  --lightGray: #CDCDCD;

  --black: #2B2B2B;
  --white: #FFFFFF;

  --lightBlue: #41b6ea;

  --lightGreen: #F0F7D8;
  --green: #32C096;
  --darkGreen: #84A017;

  --lightOrange: #E8B350;
  --orange: #F2994A;

  --red: #F25672;
  --purple: #A768E2;
}
