h1, h2, h3, h4, h5, h6 {
  color: var(--black);
  font-weight: 700;
  font-family: $fira;
}

.body-1 {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  font-family: $lato;
  letter-spacing: 0.5px;
  @media screen and (max-width: 670px) {
    font-size: 14px;
  }
}

.body-2 {
  color: var(--black);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  font-family: $lato;
  letter-spacing: 0.25px;
  @media screen and (max-width: 670px) {
    font-size: 12px;
  }
}

.headline-1 {
  font-size: 96px;
  line-height: 80px;
  letter-spacing: -1.5px;
  @media screen and (max-width: 670px) {
    font-size: 50px;
  }
}

.headline-2 {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.5px;
  @media screen and (max-width: 670px) {
    font-size: 40px;
  }
}

.headline-3 {
  font-size: 48px;
  line-height: 58px;
  @media screen and (max-width: 670px) {
    font-size: 30px;
  }
}

.headline-4 {
  font-size: 34px;
  line-height: 36px;
  letter-spacing: 0.25px;
  @media screen and (max-width: 670px) {
    font-size: 20px;
  }
}

.headline-5 {
  font-size: 24px;
  line-height: 24px;
  @media screen and (max-width: 670px) {
    font-size: 18px;
  }
}

.headline-6 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--gray);
  @media screen and (max-width: 670px) {
    font-size: 16px;
  }
}

.subtitle-1 {
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-family: $fira;
  letter-spacing: 4px;
  text-transform: uppercase;
  @media screen and (max-width: 670px) {
    font-size: 14px;
  }
}

.subtitle-2 {
  color: var(--gray);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  font-family: $fira;
  letter-spacing: 0.15px;
  @media screen and (max-width: 670px) {
    font-size: 14px;
  }
}

.btn-text {
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  font-family: $fira;
  letter-spacing: 0.75px;
  @media screen and (max-width: 670px) {
    font-size: 12px;
  }
}

.caption {
  color: var(--gray);
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  font-family: $fira;
  letter-spacing: 1px;
  @media screen and (max-width: 670px) {
    font-size: 12px;
  }
}

.overline-1 {
  color: var(--black);
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  font-family: $fira;
  letter-spacing: 0.4px;
}

.overline-2 {
  color: var(--black);
  font-size: 7px;
  font-weight: 400;
  line-height: 16px;
  font-family: $fira;
  letter-spacing: 0.4px;
}
